<footer class="body-footer">
  <div class="container">
    <div class="col-xs-12">
      <div class="footer">
        <%= link_to "Register Your Interest", root_path + "#backgroundImage"  %>
        <%= mail_to "hello@tuckerbox.es" do %>
          Contact Us
        <% end %>
        <span>Tuckerbox &copy; <%= Time.now.year %></span>
        
        
        <%#= link_to "Why Use Tuckerbox?", root_path + "#whyTuckerbox" %>
        <%#= link_to "Why Use Tuckerbox?", root_path + "#whyTuckerbox" %>
        <%#= link_to "How Does Tuckerbox Work?", root_path + "#howtuckerbox" %>
        <%#= link_to "Privacy Policy", privacy_path %>
        <%#= link_to "Terms & Conditions", terms_path %>
      </div>
    </div>
  </div>
</footer>