<html>
	<head>
		<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
	</head>
	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
    <%= yield %>
  </body>
</html>
